@using System.Drawing
@using BlazorLeaflet
@using BlazorLeaflet.Models

@inject IJSRuntime jsRuntime

<div id="mapContainer" style="width: 300px; height: 300px;">
    <LeafletMap Map="_map" />
</div>
<hr />

@code {
    private BlazorLeaflet.Map _map;
    private PointF _startAt = new PointF(47.5574007f, 16.3918687f);

    protected override void OnInitialized()
    {
        _map = new BlazorLeaflet.Map(jsRuntime);
        _map.PanTo(_startAt);

        _map.Layers.Add(new TileLayer
        {
            UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
            Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
        });

        /*_map.OnInitialized += () =>
        {
            _map.AddLayer();

            _map.AddLayer(new Polygon
            {
                Shape = new[]
                { new[] { new PointF(37f, -109.05f), new PointF(41f, -109.03f), new PointF(41f, -102.05f), new PointF(37f, -102.04f) } },
                Fill = true,
                FillColor = Color.Blue,
                Popup = new Popup
                {
                    Content = "How are you doing,"
                }
            });

            _map.AddLayer(new Models.Rectangle
            {
                Shape = new RectangleF(10f, 0f, 5f, 1f)
            });

            _circle = new Circle
            {
                Position = new LatLng(10f, 5f),
                Radius = 10f
            };
            _map.AddLayer(_circle);
        };*/
    }
}