@inherits LayoutComponentBase

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        🏞 Reststops
    </BarBrand>
</Bar>

<div class="container">
    @Body
</div>

